---
import CourseDialog from "../../components/CourseDialog.astro";
import StudyPlanGrid from "../../components/StudyPlanGrid.astro";
import type {StudyPlanOption} from "../../types";
import Layout from "../../layouts/Layout.astro";
import AboutDialog from "../../components/AboutDialog.astro";

export async function getStaticPaths() {
    const studyPlans: StudyPlanOption[] = await fetch(`http://localhost:8080/api/v1/study-plans`)
        .then(res => res.json());

    return studyPlans.map(studyPlan => ({
        params: {studyPlanId: studyPlan.id.toString()}
    }));
}

const studyPlan = await fetch(`http://localhost:8080/api/v1/study-plans/${Astro.params.studyPlanId}`)
    .then(res => res.json());

const {
    program,
    courses,
    track,
    year,
    sections
} = studyPlan;
---

<Layout title={`${program.name} ${year}/${year + 1} ${track ? ` - ${track}` : ''} Study Plan`}>
    <div class="space-y-6 p-6 border min-h-screen">
        <section class="flex flex-col-reverse md:flex-row md:justify-between gap-6 md:items-center">
            <header class="space-y-2 text-center md:text-left">
                <h1 class="text-3xl font-bold">{program.degree} {program.name}</h1>
                <h2 class="opacity-60">
                    Study Plan {year} / {year + 1}
                    {track ? ` - ${track}` : ''}
                </h2>
            </header>

            <header class="flex gap-6 md:p-0 relative justify-center">
                <a href="/" class="flex gap-3 items-center group text-gray-600 hover:text-blue-600 transition-all">
                    <i data-lucide="home" class="group-hover:scale-110 transition-all duration-200 size-5"/>
                    Home
                </a>

                <AboutDialog />
            </header>
        </section>

        <StudyPlanGrid sections={sections} courses={courses} program={program}/>
    </div>

    <CourseDialog/>
</Layout>

<script>
    import {
        createIcons,
        MoveRight,
        MoveLeft,
        Info,
        ChevronLast,
        ChevronFirst,
        ChevronDown,
        Search,
        X,
        ChevronLeft,
        List,
        Home,
        CircleHelp,
        Moon
    } from "lucide";

    createIcons({
        icons: {
            MoveRight,
            MoveLeft,
            Info,
            ChevronLast,
            ChevronFirst,
            ChevronDown,
            Search,
            X,
            ChevronLeft,
            List,
            Home,
            CircleHelp,
            Moon,
        }
    });

    if (!localStorage.getItem('lastVisited')) {
        document.getElementById('about-dialog')?.showModal();
    }

    const url = window.location.pathname;
    const match = url.match(/study-plans\/(\d+)/);
    const studyPlanId = match ? match[1] : null;

    if (studyPlanId) {
        localStorage.setItem('lastVisited', JSON.stringify({
            id: studyPlanId,
            timestamp: new Date().toISOString()
        }));
    }
</script>
